@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>
<div class="calculations">
    <div class="result">
        @if (ViewBag.dataModel.Empty || ViewBag.dataModel.divNull || ViewBag.dataModel.Unknown)
        {
            @if (ViewBag.dataModel.Empty)
            {
                <div>Error! You need enter all numbers.</div>
            }

            @if (ViewBag.dataModel.divNull)
            {
                <div>Error! Divide by zero.</div>
            }

            @if (ViewBag.dataModel.Unknown)
            {
                <div>Unknown error.</div>
            }
        }
        else
        {
            @if (ViewBag.dataModel.show == false)
            {
                <div>@ViewBag.dataModel.resNum</div>
            }
            else
            {
                <div>@ViewBag.dataModel.firstNum @ViewBag.dataModel.operation @ViewBag.dataModel.secondNum = @ViewBag.dataModel.resNum</div>
            }
        }
    </div>
</div>